.status_bar {
  display: flex;
}

.box-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  height: 140px;
  font-size: 60px;
  background-color: #211026;
  border-top: solid 8px white;
  border-bottom: solid 8px rgba(255, 255, 255, 0.863);
  color: #f4f4f4;
  transform: skewY(-5deg);
}

.box-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  height: 160px;
  font-size: 60px;
  background-color: rgb(108, 0, 209);
  border-bottom: solid 8px rgba(255, 255, 255, 0.808);
  color: #f4f4f4;
  transform: skewY(-5deg);
}

.box-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: -2;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  height: 200px;
  font-size: 60px;
  background-color: rgb(41, 0, 80);
  border-bottom: solid 8px rgba(255, 255, 255, 0.514);
  color: #f4f4f4;
  transform: skewY(5deg);
}
.top_button {
  display: flex;
  position: fixed;
  background-color: #eeeeee;
  color: white;
  width: 5%;
  padding: 5px 5px;
  margin-left: 950px;
  margin-top: 130px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  border: solid 5px white;
}

@keyframes rotateBar {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
.top_button:hover {
  animation: rotateBar 0.3s linear infinite;
}
