.all_karada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
}

.myungsang {
  display: flex;

  margin-top: 250px;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 700px;
  background-color: #400046;
  border: 5px solid white;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;

  position: relative;
  box-sizing: border-box;
}
.eyes_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  width: 25px;
  height: 20px;
  position: absolute;
  margin-bottom: 150px;
  border-radius: 100% 100% 0 0;
  background-color: white;
  margin-right: 200px;
  box-shadow: 0 0 0.5rem inline;
  background-image: linear-gradient(#4708f5 50px, #07143b 100%, #4e00c2 100%);
  rotate: 132deg;
  animation: animate 2s linear infinite;
}

.hongche_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 0;
  background-color: white;
  z-index: 3;
}

.eyes_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  width: 25px;
  height: 20px;
  margin-left: 200px;
  margin-bottom: 150px;
  border-radius: 100% 100% 0 0;
  background-color: white;
  box-shadow: 0 0 0.5rem inline;
  background-image: linear-gradient(#4708f5 50px, #07143b 100%, #4e00c2 100%);
  rotate: 182deg;
  animation: animate 2s linear infinite;
  position: absolute;
}

.hongche_2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 0;
  background-color: white;
  z-index: 3;
}

.mouse {
  width: 50px;
  height: 10px;
  background-color: white;
  margin-top: 50px;
  position: absolute;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.mouse {
  animation: roll 1s infinite;
}

@keyframes roll {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}
