.zenbu {
  display: flex;
  width: 40%;
  height: 500px;
  margin-top: 250px;
  background: linear-gradient(#ffffff, #cccccc, #ccb7fd);
  border-radius: 20px;
  margin-left: 100px;
}

.honnin {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 750px;
  margin-top: 100px;
  margin-left: 100px;
}

.honnin span {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  font-weight: 600;
  background-color: #702fa5;
  border-radius: 2px;
  text-shadow: 1.5px 1.5px 1px rgb(83, 83, 83);
  box-shadow: 10px 10px white;
  transition: all 0.3s ease-in-out;
}

.honnin span:hover {
  box-shadow: -2px -2px 10px #702fa5, 2px 2px white, 4px 4px 20px #fff;
}

.honnin input:not([type="submit"]) {
  height: 30px;
  font-size: 35px;
  border-radius: 5px;
  box-shadow: inset 3px 3px 2px rgb(182, 182, 182);
  transition: 0.5s ease-in-out;
}

.honnin input[type="text"] {
  font-size: 20px;
  width: 300px;
  border: none;
  border: 2px solid #211026;
}

.honnin input:not([type="submit"]):focus {
  border-bottom: 3px solid rgb(170, 43, 255);
}

.honnin input[type="submit"] {
  width: 100px;
  height: 50px;
  margin-left: 390px;
}
